.freq-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.freq-text-container button{
    display: flex;
    border: none;
    border-radius: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1F3340;
    outline: 1px solid rgba(67, 199, 255, 0.833);
    padding: 10px 16px;
    opacity: 1;
    color: white;
}
.freq-text-container h2{
    margin-top: 30px;
    color: white;

}
.freq-text-container p{
    font-size: medium;
    text-align: center;
    margin-top: 10px;
    line-height: 25px;
    color: #A7A7A7;

}